{
    "AUDIENCE_ISSUER_URL": "",
    "AUDIENCE_CLIENT_ID": "",
    "COGNITO_ARN": "",
    "COGNITO_USER_POOL_ID": "",
    "AUTH_FLOW": "",
    "ADMIN_GROUP_NAME": "",
    "BUYER_GROUP_NAME": "",
    "ADMIN_PERMISSIONS": "",
    "BUYER_PERMISSIONS": ""
}
